<h2 mat-dialog-title>
  修改配方
</h2>
<mat-dialog-content class="">
      <!-- <mat-form-field>
      <input matInput class="amount" placeholder="{{formulaName}}" />
    </mat-form-field> -->
    <p class="fsize20">配方名稱: {{formulaName}}</p>

</mat-dialog-content>
<div class="" *ngFor="let arr of arrs;let idn=index">
  <mat-dialog-content class="" >
    <mat-form-field>
      <mat-select placeholder="原料" value="{{arr.material}}" (selectionChange)=" addMaterial($event, idn)" disabled >
        <mat-option *ngFor="let data of materialOptions" [value]="data">{{data}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput class="mat" placeholder="原料" value={{arr.material}}/>
    </mat-form-field> -->
      <mat-form-field>
      <input matInput class="amount" placeholder="用量" value={{arr.amount}} (keyup)="doCost($event.target.value, idn)" />
    </mat-form-field>
  </mat-dialog-content>

</div>
<!-- <mat-dialog-content>
  <button mat-raised-button  (click)="add()"> +新增原料</button>
</mat-dialog-content> -->
<mat-dialog-content class="">
  <mat-form-field>
    <input class="price" matInput placeholder="售價" [(ngModel)]="price" value="{{price}}"/>
  </mat-form-field>
  <p class="fsize20">成本: {{cost}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="sendDB()" >儲存</button>
  <button mat-raised-button mat-dialog-close >取消</button>
</mat-dialog-actions>
