.chart{
	/* border-bottom-style:solid; */
	/* border-bottom-width:5px; */
	padding-left: 100px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}
.inlineblock {
  display: inline-block;
}
