<div id="container">
  <!-- <app-pos-sidebar></app-pos-sidebar> -->
  <app-sidebar></app-sidebar>
  <!-- <div id="content">
    <router-outlet></router-outlet>
  </div> -->
</div>
  <div>
    <router-outlet></router-outlet>
  </div>
<!-- <mat-grid-list cols="{{col}}" rowHeight="300px"> -->
 <!-- <mat-grid-tile > -->
    <!-- <form class="example-form maring15-padding20" #heroForm="ngForm"  [ngStyle]="{'width': width,'height': height}">
        <div class="relative">
            <mat-form-field class="example-full-width">
              <input type="number" id="a" (keyup)="calculator($event.target.value,$event.target, $event.target.id)" [(ngModel)]="a" matInput placeholder="Please input value a" value=""
               required name="a" #valueA="ngModel" >
            </mat-form-field>
              <div [hidden]="valueA.valid || valueA.pristine "
                   class="alert alert-danger overflow">
                <p>Value a is required</p>
              </div>
        </div>
        <div class="relative">
          <mat-form-field class="example-full-width">
            <input type="number" id="b" (keyup)="calculator($event.target.value,$event.target, $event.target.id)"
             [(ngModel)]="b" matInput placeholder="Please input value b"
              required value="" name="b" #valueB="ngModel">
          </mat-form-field>
          <div [hidden]="valueB.valid || valueB.pristine "
               class="alert alert-danger overflow">
            <p>Value b is required</p>
          </div>
        </div>
        <div class="relative">
          <mat-form-field class="example-full-width">
            <input type="number" id="c" (keyup)="calculator($event.target.value,$event.target, $event.target.id)" [(ngModel)]="c" matInput placeholder="Please input value c"
             required value="" name="c" #valueC="ngModel">
          </mat-form-field>
          <div [hidden]="valueC.valid || valueC.pristine "
               class="alert alert-danger overflow">
            <p>Value c is required</p>
          </div>
        </div>

    </form> -->
  <!-- </mat-grid-tile> -->






    <!-- <mat-grid-tile>
      <form class="example-form">
        <div class=" outstyle">
		   			The result of ax^2 + bx + c =
		   			<span id="result">{{total}}</span>
		   			<span>.</span>
		   	</div>

      </form>
    </mat-grid-tile> -->
    <!-- <mat-grid-tile> -->
    <!-- <form class="example-form" [ngStyle]="{'width': width}" (window:resize)="onResize($event)">
      <app-d3  [d3Data]="d3Data" [total]="total" [resizeWidth]="resizeWidth" #useFnc (onChangeRa)="onChangeRa($event)"></app-d3>
    </form> -->
    <!-- </mat-grid-tile> -->
    <!-- </mat-grid-list> -->
  <!-- </mat-grid-list> -->
<!-- <app-d3  [d3Data]="d3Data" [total]="total"></app-d3> -->
<!-- <app-d3-sine-wave></app-d3-sine-wave> -->
  <!-- <app-hero-form></app-hero-form> -->


<!-- <div id="svg"> -->
<!-- </div> -->

<!-- <h1>{{title}}</h1> -->
<!-- <app-heroes></app-heroes> -->
<!-- <app-hero-child></app-hero-child> -->
